<!-- 为isShow设置别名 -->
<p *ngIf="isShow let s">ngIf简要用法 -- {{ s }}</p>
<p *ngIf="isShow as s">ngIf简要用法 -- {{ s }}</p>
<button class="btn btn-primary btn-sm" (click)="isShow = !isShow">toggle</button>
<hr>
<ng-template [ngIf]="isShow2" let-s>
  <p>ngIf完整用法 -- {{ s }}</p>
</ng-template>
<button class="btn btn-success btn-sm" (click)="isShow2 = !isShow2">toggle</button>
<hr>
<div [ngSwitch]="switchValue">
  <p *ngSwitchCase="'apple'">Apple</p>
  <p *ngSwitchCase="'bear'">Bear</p>
  <p *ngSwitchCase="'grape'">Grape</p>
  <p *ngSwitchCase="'orange'">Orange</p>
  <p *ngSwitchDefault>Default</p>
</div>
<hr>
<ul>
  <li [style.color]="ev ? 'red' : 'blue'" *ngFor="let item of forValue; index as i; count as c; let f = first; let l = last; let od = odd; let ev = even; trackBy: traceBy">
    {{ item.name }}
    index: {{ i }} -- count: {{ c }} -- first: {{ f }} -- last: {{ l }} -- odd: {{ od }} -- even: {{ ev }}
  </li>
</ul>
<!-- for完整写法 -->
<ng-template ngFor [ngForOf]="forValue" let-user let-c="count" let-i="index" let-od="odd" let-ev="even" let-f="first" let-l="last">
  <li>
    {{ user.name }}
    index: {{ i }} -- count: {{ c }} -- first: {{ f }} -- last: {{ l }} -- odd: {{ od }} -- even: {{ ev }}
  </li>
</ng-template>
<!-- ng-template是一个Angular元素, 在页面渲染的时候不会把ng-template显示出来, 会提换为注释, 只有搭配了结构化指令才会显示 -->
<ng-template>
  <p>ng-template</p>
</ng-template>
<!-- ng-container是一个分组元素, 因为Angular不会把他放入Dom中所以他不会影响样式与元素布局 -->
<ng-container>
  <p>11111</p>
  <p>22222</p>
  <p>33333</p>
</ng-container>
<p *appUnless="false">unless</p>
