<div class="heroes">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="search()">
        <div class="form-row">
          <div class="col">
            <input [(ngModel)]="searchCondition.name" type="text" name="name" class="form-control" placeholder="姓名" />
          </div>
          <div class="col">
            <select
              [(ngModel)]="searchCondition.job"
              class="form-control"
              name="job">
              <option value="">职业</option>
              <option value="0">法师</option>
              <option value="1">战士</option>
              <option value="2">刺客</option>
              <option value="3">射手</option>
              <option value="4">坦克</option>
              <option value="5">牧师</option>
            </select>
          </div>
          <div class="col">
            <select name="sort" class="form-control" [(ngModel)]="searchCondition.sort">
              <option value="desc">降序</option>
              <option value="asc">升序</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-primary mr-2">搜索</button>
            <button class="btn btn-info" type="button" (click)="reset()">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-add" routerLink="../add">新增</button>
  <div class="card">
    <div class="card-body">
      <table class="table table-striped table-hover text-center" *ngIf="heroes.length else empty">
        <thead>
        <tr>
          <th scope="col">姓名</th>
          <th scope="col">性别</th>
          <th scope="col">年龄</th>
          <th scope="col">职业</th>
          <th scope="col">邮箱</th>
          <th scope="col">创建时间</th>
          <th scope="col">简介</th>
          <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes">
          <td class="row">{{ hero.name }}</td>
          <td>{{ hero.genderText }}</td>
          <td>{{ hero.age }}</td>
          <td>{{ hero.job }}</td>
          <td>{{ hero.email }}</td>
          <td>{{ hero.createTime | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
          <td>{{ hero.brief }}</td>
          <td class="actions">
            <button type="button" class="btn btn-primary btn-modify" routerLink="../update">修改</button>
            <button type="button" class="btn btn-danger">删除</button>
          </td>
        </tr>
        </tbody>
      </table>
      <app-loading *ngIf="isLoading"></app-loading>
      <ng-template #empty>
        <p class="text-center">empty</p>
      </ng-template>
    </div>
  </div>
</div>
