<button class="btn btn-primary btn-sm" (click)="basicUse()">RxJs基本使用</button>
<button class="btn btn-success btn-sm" (click)="observable()">Observable</button>
<button class="btn btn-warning btn-sm" (click)="cancel()">cancel</button>
<button class="btn btn-warning btn-sm" (click)="cancelFather()">cancelFather</button>
<button class="btn btn-warning btn-sm" (click)="zip()">zip</button>
<button class="btn btn-warning btn-sm" (click)="concat()">concat</button>
<button class="btn btn-warning btn-sm" (click)="merge()">merge</button>
<hr>
<app-github-project></app-github-project>
