<!--
  当发生某些事件的时候会发生变更检测, Angular会检测全部的组件中的组件的数据是否发生了变化如果发生了变化那么就会重新渲染页面
  变更检测是单项数据流, 即如果在发生变更检测的时候子组件改变了父组件的值会报错, 但是并不会影响页面的渲染
  默认组件发生的变更检测的条件是: 页面的Dom事件(需要在组件上进行绑定)、XHR的响应、异步任务. 这些事件发生那么则会产生变更检测
  有时一些数据在某些情况下发生了变化不影响页面的显示, 此时如果发生了变更检测, 组件又很多那么这个效率就比较低, 可以吧组件设置为OnPush模式
  该模型下异步任务与XHR的响应将无法触发变更检测即使模板上使用的数据发生了改变也不会更新
  但是@Input()输入事件与Observable订阅事件, 同时设置 Async pipe会触发变更检测
  如果想手动触发变更检测可以调用ChangeDetectorRef的markForCheck()方法调用的组件为需要刷新的节点, 再次变更检测的时候就会检测该组件
  调用ChangeDetectorRef.detectChanges()方法直接开启变更检测
  异步任务与XHR的响应只是不会触发OnPush组件的变更检测其他默认组件的变更检测还是会触发的
-->
<div style="background-color: beige">
  <h3>Son Title: {{ sonTitle }}</h3>
</div>
